@keyframes orbit {
  0% {
    transform: translate3d(-50%, -50%, 0) rotateZ(0);
  }
  100% {
    transform: translate3d(-50%, -50%, 0) rotateZ(-360deg);
  }
}

@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 currentColor;
    box-shadow: 0 0 0 0 currentColor;
  }
  70% {
    -moz-box-shadow: 0 0 0 5px rgba(204, 169, 44, 0);
    box-shadow: 0 0 0 5px rgba(204, 169, 44, 0);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
  }
}

.pulse {
  display: block;
  background: currentColor;
  cursor: pointer;
  box-shadow: 0 0 0 currentColor;
  animation: pulse 2s infinite;

  &:hover {
    animation: none;
  }
}

.orbit {
  position: relative;

  .inner-orbit {
    width: 100px;
    height: 100px;
    animation: orbit 1.5s linear infinite;
    backface-visibility: visible;
    transform-style: preserve-3d;
    transform: translateZ(300px);

    border: 0.05rem solid rgba($gray-600, 0.05);
    border-radius: 50%;
    display: block;
    left: 50%;
    position: absolute;
    top: 50%;
    transition: border 0.2s ease-in-out;

    &::before {
      display: block;
      content: "";
      height: 30px;
      width: 30px;
      border-radius: 100%;
      background-color: $accent-color;

      left: calc(100% - 15px);
      position: absolute;
      top: 50%;
    }
  }
  .middle-orbit {
    width: 200px;
    height: 200px;
    animation: orbit calc(1.5s * 1.2) linear infinite;
    backface-visibility: visible;
    transform-style: preserve-3d;
    transform: translateZ(300px);

    border: 0.05rem solid rgba($gray-600, 0.05);
    border-radius: 50%;
    display: block;
    left: 50%;
    position: absolute;
    top: 50%;
    transition: border 0.2s ease-in-out;

    &::before {
      display: block;
      content: "";
      height: 30px;
      width: 30px;
      border-radius: 100%;
      background-color: $accent-color;

      left: calc(100% - 15px);
      position: absolute;
      top: 50%;
    }
  }
  .outer-orbit {
    width: 300px;
    height: 300px;
    animation: orbit calc(1.5s * 1.3) linear infinite;
    backface-visibility: visible;
    transform-style: preserve-3d;
    transform: translateZ(300px);

    border: 0.05rem solid rgba($gray-600, 0.05);
    border-radius: 50%;
    display: block;
    left: 50%;
    position: absolute;
    top: 50%;
    transition: border 0.2s ease-in-out;

    &::before {
      display: block;
      content: "";
      height: 30px;
      width: 30px;
      border-radius: 100%;
      background-color: $accent-color;

      left: calc(100% - 15px);
      position: absolute;
      top: 50%;
    }
  }
}
