.input-group {
  display: grid;
  grid-template-columns: 1fr auto;
  column-gap: 5px;

  .input,
  input {
    margin: 0;
  }
}

.button-group {
  display: grid;
  grid-gap: $grid-gutter / 2;
  grid-template-columns: repeat(auto-fill, minmax(120px, auto));

  &.fill {
    grid-template-columns: repeat(auto-fit, minmax(120px, auto));
  }
}

.section {
  padding-top: 1rem;
  padding-bottom: 1rem;

  &.no-padding {
    padding: 0;
  }
  &.no-padding-bot {
    padding-bottom: 0;
  }
  &.no-padding-top {
    padding-top: 0;
  }
}

.card-list {
  display: flex;
  padding: 0 3rem;
  overflow-x: scroll;
  .card {
    margin: 0;
    width: 350px;
    min-width: 350px;
    transition: all .2s ease-in-out;

    &:not(:first-child) {
      margin-left: -130px;

    }

    &:hover {
      transform: translateY(-1rem);

      &~.card {
        transform: translateX(130px);
      }
    }
  }
}
